@using ECommerce.Domain.Models.Sales.Enums
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Lista de Produtos";
}
<h1>Produtos</h1>

<p>
    <a asp-action="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalPrice)
            </th>
            <th>Opções de Promoção</th>
            <th>Opções do Produto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.OriginalPrice)
                </td>
                <td>
                    @if(product.Promotion != null)
                    {
                        switch (product.Promotion.Type)
                        {
                            case PromotionType.PercentageValuePromotion:
                                <a asp-action="EditPercentageValuePromo" asp-controller="Promotion" asp-route-id="@product.Promotion.Id">Editar</a>
                                break;

                            case PromotionType.FixedValuePromotion:
                                <a asp-action="EditFixedValuePromo" asp-controller="Promotion" asp-route-id="@product.Promotion.Id">Editar</a>
                                break;

                            case PromotionType.FreeItemPromotion:
                                <a asp-action="EditFreeItemPromo" asp-controller="Promotion" asp-route-id="@product.Promotion.Id">Editar</a>
                                break;
                        }

                        <a asp-action="DeleteConfirmation" asp-controller="Promotion" asp-route-id="@product.Promotion.Id" class="ms-2">Deletar</a>
                    }
                    else
                    {
                        <a asp-action="Create" asp-controller="Promotion" asp-route-id="@product.Id">Criar</a>
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@product.Id">Detalhes</a> |
                    <a asp-action="Update" asp-route-id="@product.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Deletar</a> |
                    <a asp-action="Add" asp-controller="ShopCart" asp-route-id="@product.Id">Adicionar ao carrinho</a>
                </td>
            </tr>
        }
    </tbody>
</table>
